In [2]:
import pandas as pd

file_path = "data_raw/primary.csv"   # NOT ../ !!
datafile = pd.read_csv(file_path)

datafile.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2014,All genders,Not applicable,Number,6217756.0
1,Afghanistan,2014,Female,Not applicable,Number,2484471.0
2,Afghanistan,2013,Female,Not applicable,Number,2401135.0
3,Afghanistan,2013,All genders,Not applicable,Number,5986268.0
4,Afghanistan,2012,All genders,Not applicable,Number,5767543.0

In [3]:
datafile = datafile.rename(columns = {
    "Reference Area" : "Country",
    "Time " : "Year",
    "Sex" : "Gender",
    "Observation Value" : "Number "
})

datafile.head()

,Country,Time Period,Gender,Age group,Units of measurement,Number
0,Afghanistan,2014,All genders,Not applicable,Number,6217756.0
1,Afghanistan,2014,Female,Not applicable,Number,2484471.0
2,Afghanistan,2013,Female,Not applicable,Number,2401135.0
3,Afghanistan,2013,All genders,Not applicable,Number,5986268.0
4,Afghanistan,2012,All genders,Not applicable,Number,5767543.0

In [13]:
def clean_life_expectancy_un(input_path, output_path):
    df = pd.read_csv(input_path)
    df = df[df["Variant"] == "Medium"].copy()
    df = df[["Country or Area", "Year(s)", "Value"]].copy()

    df = df.rename(columns={
        "Country or Area": "Country",
        "Year(s)": "Year",
        "Value": "LifeExpectancy"
    })

    df["Year"] = df["Year"].astype(int)
    df["LifeExpectancy"] = pd.to_numeric(df["LifeExpectancy"], errors="coerce")

    df = df.dropna(subset=["LifeExpectancy"]).reset_index(drop=True)

    df.to_csv(output_path, index=False)
    return df.head()

In [14]:
clean_life_expectancy_un(
    "data_raw/life_expectancy_male.csv",
    "data_clean/life_expectancy_male_clean.csv"
    )

                             Country  Year  LifeExpectancy
0  ADB region: Central and West Asia  2100         76.9641
1  ADB region: Central and West Asia  2099         76.8158
2  ADB region: Central and West Asia  2098         76.6623
3  ADB region: Central and West Asia  2097         76.5056
4  ADB region: Central and West Asia  2096         76.3486

In [15]:
clean_life_expectancy_un(
    "data_raw/life_expectancy_female.csv",
    "data_clean/life_expectancy_female_clean.csv"
    )

                             Country  Year  LifeExpectancy
0  ADB region: Central and West Asia  2100         81.3133
1  ADB region: Central and West Asia  2099         81.1983
2  ADB region: Central and West Asia  2098         81.0785
3  ADB region: Central and West Asia  2097         80.9621
4  ADB region: Central and West Asia  2096         80.8415

In [16]:
clean_life_expectancy_un(
    "data_raw/life_expectancy_both.csv",
    "data_clean/life_expectancy_both_clean.csv"
    )

                             Country  Year  LifeExpectancy
0  ADB region: Central and West Asia  2100         79.1328
1  ADB region: Central and West Asia  2099         79.0004
2  ADB region: Central and West Asia  2098         78.8630
3  ADB region: Central and West Asia  2097         78.7253
4  ADB region: Central and West Asia  2096         78.5855