In [8]:
import pandas as pd

file_path = "data_raw/primary.csv"   # NOT ../ !!
datafile = pd.read_csv(file_path)

datafile.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2014,All genders,Not applicable,Number,6217756.0
1,Afghanistan,2014,Female,Not applicable,Number,2484471.0
2,Afghanistan,2013,Female,Not applicable,Number,2401135.0
3,Afghanistan,2013,All genders,Not applicable,Number,5986268.0
4,Afghanistan,2012,All genders,Not applicable,Number,5767543.0

In [15]:
datafile = datafile.rename(columns = {
    "Reference Area" : "Country",
    "Time " : "Year",
    "Sex" : "Gender",
    "Observation Value" : "Number "
})

datafile.head()

,Country,Time Period,Gender,Age group,Units of measurement,Number of Enrolment
0,Afghanistan,2014,All genders,Not applicable,Number,6217756.0
1,Afghanistan,2014,Female,Not applicable,Number,2484471.0
2,Afghanistan,2013,Female,Not applicable,Number,2401135.0
3,Afghanistan,2013,All genders,Not applicable,Number,5986268.0
4,Afghanistan,2012,All genders,Not applicable,Number,5767543.0